.Button {
    appearance: none;
    background: none;
    height: 36px;
    padding: 0 12px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    color: white;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    background: rgb(70, 70, 255);
    position: relative;

    &.Warning {
        background: rgb(255, 68, 0);

        &:hover {
            background: rgb(255, 130, 84);
        }

        &:active {
            background: rgb(196, 52, 0);
        }
    }

    &:not(:last-child) {
        border-right: 1px solid white;
    }

    &:hover {
        background-color: rgb(103, 103, 255);
    }

    &:focus {
        z-index: 10;
        border: none;
        box-shadow: 0 0 0 2px black;
    }

    &:active {
        background-color: rgb(39, 39, 189);
    }
}