@import "variables";

.History {
    table {
        width: 100%;
        table-layout: fixed;
        text-align: center;
        td {
            vertical-align: top;
        }
    }
    .Comment {
        font-style: italic;
        font-size: 14px;
        color: transparentize($foreground, 0.4);
        margin: 0;
    }
}