@import "variables";

body {
  margin: 0;
  font-family: $fonts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  color: $foreground;
}

a {
  color: $primary;
}

@font-face {
  font-family: 'Rubik';
  font-weight: medium;
  font-style: normal;
  src: url('fonts/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: medium;
  font-style: italic;
  src: url('fonts/Rubik-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: italic;
  src: url('fonts/Rubik-Italic.ttf') format('truetype');
}