.Field {
    width: 100%;
    margin-bottom: 12px;

    label {
        display: block;
        margin-bottom: 4px;
    }

    input {
        border-radius: 4px;
        width: calc(100% + 20px);
        height: 56px;
        padding: 8px 12px;
        margin: 0 -10px;
        font-size: 32px;

        &[type="number"] {
            text-align: center;
        }

        &.LeftAlign {
            text-align: left;
        }

        &.RightAlign {
            text-align: right;
        }

        &.CenterAlign {
            text-align: center;
        }
    }

    .Error {
        color: red;
    }

    .DurationInput {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;

        .Large {
            grid-column: span 2;
        }
    }

    .Input {
        position: relative;

        label {
            display: block;
            text-align: center;
            font-size: 14px;
        }
    }

    .PostFix {
        position: absolute;
        right: 0;
        line-height: 36px;
    }

    .Messages,
    .Error {
        font-size: 14px;
    }
}